html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
  }
  
  .wrapper {
    background: #385190;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  
  .italic-h1 {
    font-style: italic;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
  }
  
  button {
    height: 100px;
    width: 100px;
    font-size: 48px;
    border-radius: 30px;
    cursor: pointer;
    
  }
  
  .resultContainer {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }
  
  